
<footer>
    <div class="newsletter">
        <form>
            <label for="email">Enter your email to sign up for the newsletter: </label>
            <input type="email" name="email" id="email" autocomplete="email" placeholder="example@email.com" required>
            <input type="submit" name="submit" value="Sign Up">
        </form>
    </div>
    <div class="social-links">
        <a href="https://www.facebook.com/JoeBartelMusic/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/joebartel/?hl=en"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UC-_hZqlcelBza4SLvP8f-jA"><i class="fab fa-youtube"></i></a>
        <a href="https://open.spotify.com/artist/38O9w2xIunDDbK3vM7vydE?si=1IKARnbvTtutaNQt8LO14A"><i class="fab fa-spotify"></i></a>
        <a href="https://itunes.apple.com/us/artist/joe-bartel/1064618633"><i class="fab fa-itunes"></i></a>
        <a href="https://joebartel.bandcamp.com/"><i class="fab fa-bandcamp"></i></a>
        <a href="mailto:joebartel@joebartel.com"><i class="far fa-envelope"></i></a>
    </div>
    <p class="copyright">© 2020 - All Rights Reserved</p>
</footer>
</html>