
<!-- This is a section for the splash image or video above a home page -->

<!-- If you want an image, paste the .jpeg path in the src section and remove the "comment" arrows and dashes -->
<!-- <img class="splash-img" alt="Isosceles Kramer II album cover image" src="/assets/images/polar+bear.jpeg"> -->

<!-- For a video, paste the embed link into "src" but before the question mark (?) below  -->
<iframe class="splash-vid" src="https://www.youtube.com/embed/Lf8TORJAOPI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>